.privacyDiv
{
    padding-top: 150px;
    line-height: 2rem;
    color: #555555;
    word-spacing: normal;
}
.privacyContents
{
    padding-top: -20px;
    padding: 40px;
    
}
.privacyTitles
{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
.privacyLists
{
    list-style-type: circle;
    margin-left: 40px;
}